
.chats-content .max-w-xs {
    font-size: 14px; 
}






@media (min-width: 576px) and (max-width: 768px) {
    chats-content{
        padding: 18px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    chats-content{
        padding: 22px;
    }
}

@media (min-width: 992px) {
    chats-content{
        padding: 25px;
    }
}

@media (max-width: 576px) {
    .sidebar {
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .sidebar {
        width: 80%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .sidebar {
        width: 40%;
    }
}

@media (min-width: 992px) {
    .sidebar {
        width: 23%;
    }
}